In [3]:
#for sama while 
#collections -> list, tuple, dictionary, string
fruits = ["Apple","Banana","Watermelon","Pineapple"]

for fruit in fruits:
    print(f"Buah : {fruit}")
print(f"Looping Selesai!!")

Buah : Apple
Buah : Banana
Buah : Watermelon
Buah : Pineapple
Looping Selesai!!

In [9]:
#Implementasi, Mencari  nilai rata rata pemrograman dari kelkas TI 24H

nilaiPemrograman = [80,90,100,60,65,70]
#1. Mencari total --> didalam Looping 
#2. Membagi dengan jumlah data --> diluar 
total = 0
lulus = 0
for nilai in nilaiPemrograman:
    if nilai >=70:
        lulus +=1
    total = total + nilai 
rata2 = total / len(nilaiPemrograman)
print(f"Nilai rata-rata Pemrograman TI24H : {rata2}")
print(f"Mahasiswa yang lulus sebanyak {lulus} orang")
print(f"Mahasiswa yang tidak lulus sebanyak {len(nilaiPemrograman)-lulus} orang")

NIlai rata-rata Pemrograman TI24H : 77.5
Mahasiswa yang lulus sebanyak 4 orang
Mahasiswa yang tidak lulus sebanyak 2 orang

In [17]:
#Hitunglah jumlah huruf vokal a,i,u,e,o
#Nusa Putra
listVokal = ("a","i","u","e","o")
totalVokal = 0
kampus = input("isikan nama kampus : ")
for kar in kampus:
    if kar.lower() in listVokal:
        totalVokal +=1
        
print(f"jumlah huruf vokal = {totalVokal} ")

isikan nama kampus :  Universitas Nusa Putra

jumlah huruf vokal = 9

In [19]:
#for -> list comprehension
data = [1,2,3,4,5,6]
pangkat = [x**2 for x in data]
print(pangkat)

[1, 4, 9, 16, 25, 36]

In [21]:
#for -> enumeration
month = ["jan","feb","mar","apr","mei","jun","jul","aug","sep"]

for i,m in enumerate(month):
    print(f"Indeks {i} : {m} ")

Indeks 0 : jan
Indeks 1 : feb
Indeks 2 : mar
Indeks 3 : apr
Indeks 4 : mei
Indeks 5 : jun
Indeks 6 : jul
Indeks 7 : aug
Indeks 8 : sep

In [29]:
cinemaChair = ["M","W","M","M","M","W"]
#Hitunglah jumlah kursi laki-laki -> M
#Hitunglah jumlah kursi perempuan -> W

totalKursi = 0 
for kursi in cinemaChair:
    if kursi == "M" :
        totalKursi +=1

print(f"jumlah kursi laki-laki = {totalKursi}")
print(f"jumlah kursi laki-laki = {len(cinemaChair) - totalKursi}")

jumlah kursi laki-laki = 4
jumlah kursi laki-laki = 2

In [31]:
kursi = ["L","L","P","L","P","P","P"]
#Hitunglah jumlah penonton bioskop yang kemungkinan couple
totalCouple = 0
for i,k in enumerate (kursi):
    if i < len(kursi) -1:
        if kursi[i] != kursi[i+1]:
            totalCouple +=1

print(f"jumlah kemungkinan penonton couple : {totalCouple}")

jumlah kemungkinan penonton couple : 3

In [53]:
#for -> range
#mencari 0-9
for i in range(10):
    print(i, " ",end='')

print()
#mencetak 5-15
for j in range(5,16):
    print(j," ",end='')
print()
#mencetak 10 20 30 40 50 ....100
for k in range(1,11):
    print(k * 10, " " , end='')

print()
#mencetak 10 -20 30 -40 50 -60 70 -80 90 -100
tanda = 1
for m in range(1,11):
    print(m * 10 * tanda, " " , end='')
    tanda *=-1
print()
#step
for n in range(1,10,2):
    print(n, " " ,end='')
print()
for p in range(10,1,-2):
    print(p," ",end='')

0  1  2  3  4  5  6  7  8  9
5  6  7  8  9  10  11  12  13  14  15
10  20  30  40  50  60  70  80  90  100
10  -20  30  -40  50  -60  70  -80  90  -100
1  3  5  7  9
10  8  6  4  2

In [59]:
#menghitung faktorial
# 5 * 4 * 3 * 2 * 1 = 120
# 4 * 3 * 2 * 1 = 24
total = 1
number = int(input("isikan bilangan : " ))
for i in range(1,number +1):
    total *=i 
print(f"{number} ! = {total}")

isikan bilangan :  5

5 ! = 120

In [65]:
#menentukan bilangan prima atau bukan
#bilangan prima adalah bilangan hanya bisa dibagi bilangan 

number = int(input("isikan bilangan: "))
total = 0
for i in range(1,number+1):
    if number % 1==0:
        total += 1

if total==2:
    print(f"{number} adalah Bil.Prima")
else:
    print(f"{number} adalah Bil. bukan Prima")

isikan bilangan:  11

11 adalah Bil. bukan Prima