In [3]:
name ="sahla"
address, province = "Jl. Cisaat","743412"
age = 20
scorePython = 85.7
isMarried = False

print("nama :" ,name)
print("Alamat : ",address)
print("Umur : " ,age)
print("Nilai Pemrograman : ",scorePython)
print("status pernikahan :  ",isMarried)
print("provinsi : ", province)

nama : sahla
Alamat :  Jl. Cisaat
Umur :  20
Nilai Pemrograman :  85.7
status pernikahan :   False
provinsi :  743412

In [4]:
print("Tipe data <name> : ",type(name))
print("Tipe data <address> : ",type(address))
print("Tipe data <age> : ",type(age))
print("Tipe data <scorePython> : ",type(scorePython))
print("Tipe data <isMarried> : ",type(isMarried))
print("Tipe data <province : ", type(province))

Tipe data <name> :  <class 'str'>
Tipe data <address> :  <class 'str'>
Tipe data <age> :  <class 'int'>
Tipe data <scorePython> :  <class 'float'>
Tipe data <isMarried> :  <class 'bool'>
Tipe data <province :  <class 'str'>

In [8]:
#Casting/Konversi Tipe Data
#1. String ke (int, float, boolean)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt + 2,strToFloat,strToBool, sep="_")

#2.  Int ke (str, float, boolean)
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr, intToFloat, intToBool, sep="_")

#3. float ke (str, int, boolean)
floatTostr = str(scorePython)
floatToint = int(scorePython)
floatTobool = bool(scorePython)
print(floatTostr, floatToint, floatTobool, sep="_")

#4. Bool ke (int, str, float)
boolToStr = str(isMarried)
boolToint = int(isMarried)
boolTofloat = float(isMarried)
print(boolToStr, boolToint, boolTofloat, sep="_")

#Tipe data basis bilangan (decimal,biner,octal,hexa)

desimal = 500
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xff #255

print("Nilai desimal : ", desimal)
print("Nilai biner : ", biner)
print("Nilai octal : ", octal)
print("Nilai hexa : ", hexa)

print("Nilai Biner dari ", desimal, ":",bin(desimal))
print("Nilai octal dari ", desimal, ":",oct(desimal))
print("Nilai Hexa dari ", desimal, ":",hex(desimal))

743414_743412.0_True
20_20.0_True
85.7_85_True
False_0_0.0
Nilai desimal :  500
Nilai biner :  10
Nilai octal :  255
Nilai hexa :  255
Nilai Biner dari  500 : 0b111110100
Nilai octal dari  500 : 0o764
Nilai Hexa dari  500 : 0x1f4

In [10]:
city = "SUKABUMI"
length = len(city)
print(city[0])
print(length)
print(city[length-1])

S
8
I

In [6]:
#Tipe Data Collection
cities = ["Bandung", "Sukabumi", "Bogor", "Jakarta"]
lengthCities = len(cities)
print(cities)
print(cities [0])
print(cities[lengthCities-1])
print(cities[lengthCities-1][0])
print(cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities [0] = "Bali"
#Cities[5] = "Malang" akan menyebablan error out of range
print(cities)

names = ("Sahla", "Pirni", "alaa")
print(names)
print(names[1])
#names[0] = "Indah" error immutable tuple

studentData = {
    "name" : "sahla",
    "age" : 20,
    "address" : {
        "street" : "kapanunggal",
        "number" : 21,
        "province" : "Jawa Barat"
    },
    "isMarried" : True,
    "hobbies" : ["tidur, nonton"]
}

print(studentData)
print(studentData["age"])
print(studentData["address"]["province"])
print(studentData["hobbies"][0])

studentList = [
    {
    "name" : "abay",
    "age" : 22,
    "address" : {
        "street" : "ParungKuda",
        "number" : 19,
        "province" : "Jawa Barat"
    },
    "isMarried" : True,
    "hobbies" : ["Badmnton, Volly"]
},
    {
    "name" : "pirni",
    "age" : 20,
    "address" : {
        "street" : "cibadak",
        "number" : 20,
        "province" : "Jawa Barat"
    },
    "isMarried" : True,
    "hobbies" : ["Badmnton, Volly"]
}
]
print(studentList)
print(studentList[1]["address"]["province"])

['Bandung', 'Sukabumi', 'Bogor', 'Jakarta']
Bandung
Jakarta
J
a
['Bali', 'Sukabumi', 'Bogor', 'Jakarta']
('Sahla', 'Pirni', 'alaa')
Pirni
{'name': 'sahla', 'age': 20, 'address': {'street': 'kapanunggal', 'number': 21, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['tidur, nonton']}
20
Jawa Barat
tidur, nonton
[{'name': 'abay', 'age': 22, 'address': {'street': 'ParungKuda', 'number': 19, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['Badmnton, Volly']}, {'name': 'pirni', 'age': 20, 'address': {'street': 'cibadak', 'number': 20, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['Badmnton, Volly']}]
Jawa Barat

In [19]:
#konversi dictionary

list_list = [["Name","Andi"],["Age",30],["status",True]]
dictListStudent = dict(list_list)
print(dictListStudent)

list_tuple = [("Name","Rudi"),("Address","Bogor")]
dictTupleStudent = dict(list_tuple)
print(dictTupleStudent)

tuple_list = (["Name","Tiger"],["Type","Mamalia"])
dictListAnimal = dict(tuple_list)
print(dictListAnimal)

tuple_tuple = (("Name","crocodile"),("Type","Reptile"))
dictTupleAnimal = dict(tuple_tuple)
print(dictTupleAnimal)

keys = ["vehicle","Brand","cc"]
values = ["car","BMW",2500]
car = dict(zip(keys,values))
print(car)

{'Name': 'Andi', 'Age': 30, 'status': True}
{'Name': 'Rudi', 'Address': 'Bogor'}
{'Name': 'Tiger', 'Type': 'Mamalia'}
{'Name': 'crocodile', 'Type': 'Reptile'}
{'vehicle': 'car', 'Brand': 'BMW', 'cc': 2500}